In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
# step 4
total_births = names.pivot_table(values='birth', index='year', columns='sex', aggfunc=sum)

total_births.head()

sex        F       M
year
1880   90994  110490
1881   91953  100737
1882  107847  113686
1883  112319  104625
1884  129019  114442