In [16]:
#step 7
def get_counts(group):
    births = group.birth.astype(float)
    group['prop'] = births / births.sum()
    
    return group

names = names.groupby(['year', 'sex']).apply(get_counts)
names.head()

C:\Users\layla\AppData\Local\Temp\ipykernel_12384\2459112558.py:7: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  names = names.groupby(['year', 'sex']).apply(get_counts)

        name sex  birth  year      prop
0       Mary   F   7065  1880  0.077642
1       Anna   F   2604  1880  0.028617
2       Emma   F   2003  1880  0.022012
3  Elizabeth   F   1939  1880  0.021309
4     Minnie   F   1746  1880  0.019188

In [17]:
# 7 VÃ©rification 
np.allclose( names.groupby(['year', 'sex']).prop.sum(), 1 )

True